<header>
  <nav class="navbar">
    <div class="logo">
      <a href="/products">E-commerce</a>
    </div>
    <ul class="nav-links">
      <li><a href="/products">Products</a></li>
      <li><a href="/cart">My Cart</a></li>
      <li><a href="/profile">Profile</a></li>
      <li><a class="logout" href="/logout">Logout</a></li>
    </ul>
  </nav>
</header>