<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users</title>
    <style>
        table { 
            width: 100%; 
            border-collapse: collapse; 
        }
        th, td { 
            padding: 8px; 
            border: 1px solid #ccc; 
            text-align: left; 
        }
        th { 
            background: #f0f0f0; 
        }
    </style>
</head>
<body>
    <h1>All Users</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>signin date </th>
            </tr>
        </thead>
        <tbody>
            <% if (users.length === 0) { %>
                <tr><td colspan="5">No users found</td></tr>
            <% } else { %>
                <% users.forEach(user => { %>
                <tr>
                    <td><%= user.name %></td>
                    <td><%= user.email %></td>
                    <td><%= user.role %></td>
                    <td><%= user.createdAt.toDateString() %></td>
                    
                </tr>
                <% }) %>
            <% } %>
        </tbody>
    </table>
</body>
</html>
