<!DOCTYPE html>
<html lang="en">
  
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/changePassword.css">
   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <title>Change Password</title>
</head>

<body>
  <div class="wrapper">
    <div class="container">
      <h2>update Password</h2>

      <form action="/change-password" method="POST">
        <label for="oldPassword">Old Password</label>
        <input type="password" id="oldPassword" name="oldPassword" placeholder="Enter old password" required>

        <label for="newPassword">New Password</label>
        <input type="password" id="newPassword" name="newPassword" placeholder="Enter new password" required>

        <label for="confirmPassword">Confirm New Password</label>
        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm  password" required>

        <button type="submit">Update Password</button>
      </form>

    </div>
  </div>

 <% if (typeof message !== 'undefined') { %>
        <script>
          Swal.fire({
            toast: true,
            position: "top",     
            icon: "<%= type %>",
            title: "<%= message %>",
            showConfirmButton: false,
            timer: 2000,
            timerProgressBar: true,
            width: "300px"         
          });
        </script>
      <% } %>
</body>
</html>
