<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../css/forgot.css">
   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <title>Forgot Password</title>
</head>

<body>

  <div class="container">
    <h2>Forgot Password</h2>
    <form action="/forgot" method="POST">
      <input type="email" name="email" placeholder="Enter email" required />
      <button type="submit">Send Reset Link</button>
    </form>
    <a href="/login" class="back-link">Back to Login</a>
  </div>

   <% if (typeof message !== 'undefined') { %>
        <script>
          Swal.fire({
            toast: true,
            position: "top",     
            icon: "<%= type %>",
            title: "<%= message %>",
            showConfirmButton: false,
            timer: 2000,
            timerProgressBar: true,
            width: "300px"         
          });
        </script>
      <% } %>

</body>
</html>
