<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/products.css">
  <title>Document</title>

</head>
<body>
  <%- include('partials/header') %>

  <% if (user && user.role === 'admin') { %>
    <div class="add-product-btn">
      <a href="/add-product" class="btn">Add Product</a>
    </div>
  <% } %>

  <% if (user && user.role === 'admin') { %>
    <div class="al-product-btn">
      <a href="/all-product" class="btn">All Product</a>
    </div>
  <% } %>

  <% if (user && user.role === 'admin') { %>
    <div class="al-product-btn">
      <a href="/all-orders" class="btn">All Orders</a>
    </div>
  <% } %>

  <% if (user && user.role === 'admin') { %>
    <div class="al-product-btn">
      <a href="/all-users" class="btn">All Users</a>
    </div>
  <% } %>

  <a href="/change-password">Change Password</a>

  <!-- <%- include('partials/footer') %> -->
</body>
</html>
